:local(.style) {
    .container {
        height: 300px;
        display: flex;
        justify-content: center;

        .item-a {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            color: #939292;
            font-size: 20px;
            &:nth-child(1){
                background: #EEEEEE;
            };
            &:nth-child(2){
                background: #E5E5E5;
            };
            &:nth-child(3){
                background: #DCDCDC;
            }
            .icon{
                width: 150px;
                overflow: hidden;
                height: 100px;
                margin-bottom: 25px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}