:local(.style) {
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in-out;
    border: 1px dashed transparent;
    // display: inline-block;
    cursor: pointer;
    .plan-edit {
        visibility: hidden;
        position: absolute;
        color: #f2f2f2;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        height: 20px;
        line-height: 20px;
        text-align: right;
        padding-right: 6px;
        transition: all .3s ease-in;
        .close {
            margin-left: 10px;
            &:hover {
                color: #ff7161;
            }
        }
        .edit {
            :hover {
                color: blue;
            }
        }
    }
    &:hover {
        border: 1px dashed #ff7161;
        .plan-edit {
            visibility: visible;
        }
    }
}