:local(.style) {
    .title {
        margin-bottom: 20px;
    }
    .common-function {
        height: 50px;
        background: #f8f8f8;
        line-height: 50px;
        text-align: center;
        i {
            margin-right: 10px;
        }
    }
}