<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Youzan | 不被支持的浏览器</title>
    <link rel="icon" href="https://img.yzcdn.cn/v2/image/yz_fc.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div style="font-size: 44px;color: #555555;text-align: center;margin-top: 110px;">您当前浏览器版本过低，建议升级Chrome浏览器</div>
    <div style="font-size: 18px; color: #999999; text-align: center;margin-top: 20px">Youzan为您的团队提供更出众的协作体验</div>
    <div style="text-align: center;margin-top: 137px;">
        <a target="_blank" style="display: block;" href="https://www.google.cn/intl/zh-CN/chrome/" rel="noopener noreferrer"><img style="width: 170px;" src="https://img.yzcdn.cn/public_files/2018/06/26/26b881aada1cdeb29916ca705c0a0fd2.png"/></a>
        <a style="display:inline-block;width:150px;height:40px;line-height:40px;background:rgba(136,195,36,1);border-radius:2px;color: #fff;text-decoration: none;"
            href="https://www.google.cn/intl/zh-CN/chrome/" rel="noopener noreferrer">Chrome浏览器</a>
    </div>
</html>