:local(.style) {
    padding: 50px 100px;
    .content {
        display: flex;
        .left {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 100px;
            .about-title {
                color: #454545;
                margin:0;
                white-space: nowrap;
            }
            .about-icon {
                color: #FBAB0A;
                font-size: 25px;
                margin-left: 10px;
            }
        }
        .right {
            text-indent: 2em;
            font-size: 12px;
            line-height: 20px;
        }
    }
    .video {
        margin-top:50px;
        display: flex;
        video {
            margin: 0 auto;
            width: 800px;
            height: 400px;
            box-shadow: 0 0 4px #ccc;
        }
    }
}