:local(.style) {
    .edit-pwd-btn {
        margin-left: 20px
    }
    .submit-btn {
        text-align: center
    }
    input, textarea {
        width: 300px;
        margin-left: 0 10px;
    }
    textarea {
        width: 400px;
    }
}