.logo {
    height: 64px;
    line-height: 64px;
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}
.trigger {
    font-size: 30px;
    padding: 10px;
}