:local(.style) {
    height: 100%;
    position: relative;
    background-color: #f8f8f8;
    .add-tree {
        height: 30px;
        line-height: 27px;
        text-align: center;
        font-size: 20px;
        margin-top: 30px;
        border: 1px dashed #e0e0e0;
        width: 100%;
        transition: all 0.3s ease-in;
        cursor: pointer;
        &:hover {
            background: #daf0fb;
        }
    }
}