:local(.style) {
    height: 100%;
    background-color: #f8f8f8;
    .class-title {
        line-height: 2.5em;
        background: #f8f8f8;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 20px;
        text-align: center
    }
}